<%= form_with(model: form_excise_tax, local: true) do |form| %>
  <% if form_excise_tax.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_excise_tax.errors.count, "error") %> prohibited this form_excise_tax from being saved:</h2>

      <ul>
      <% form_excise_tax.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :FormreferenceNumber %>
    <%= form.text_field :formreferencenumber, required: true %>
  </div>

  <div class="field">
    <%= form.label :FormeffectiveDateFrom %>
    <%= form.text_field :formeffectivedatefrom, class: 'datepicker', 'placeholder'=> "yyyymmdd", required: true %><br/>
  </div>
  
  <div class="field">
    <%= form.label :FormeffectiveDateTo %>
    <%= form.text_field :formeffectivedateto, class: 'datepicker', 'placeholder'=> "yyyymmdd", required: true %><br/>
  </div>

  <div class="field">
    <%= form.label :HomeOfficeId %>
    <%= form.select :homeofficeid, ["100300", "010400"] %>
  </div>

  <div class="actions">
    <%= form.submit 'query form' %>
  </div>

<% end %>

