<p id="notice"><%= notice %></p>

<h1>Form Excise Taxes</h1>

<table>
  <thead>
    <tr>
      <th>Formreferencenumber</th>
      <th>Formeffectivedate</th>
      <th>Cusname</th>
      <th>Signflag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_excise_taxes.each do |excise| %>
      <tr>
        <td><%= excise.formreferencenumber %></td>
        <td><%= excise.formeffectivedate.strftime('%Y-%m-%d') %></td>
        <td><%= excise.cusname %></td>
        <td><%= excise.signflag %></td>
        <td><%= link_to 'show', form_excise_tax_path(excise)  %> <%# excise in block each do %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Form Excise Tax' , excisetax_new_path %>
