<p id="notice"><%= notice %></p>

<p>
  <strong>Formreferencenumber:</strong>
  <%= @excise_tax.formreferencenumber %>
</p>

<p>
  <strong>Formeffectivedate:</strong>
  <%= @excise_tax.formeffectivedate %>
</p>

<p>
  <strong>Cusname:</strong>
  <%= @excise_tax.cusname %>
</p>

<p>
  <strong>Signflag:</strong>
  <%= @excise_tax.signflag %>
</p>

<p>
  <strong>Formdata:</strong><br>
  Tin : <%= @excise_tax.formdata %>
</p>


<%= link_to 'Back', form_excise_taxes_path %>
